@using Domain.Models
@model Web.Models.StoreProductsListViewModel

@{
    
    ViewBag.Title = "List";
}

<h2>List of products</h2>

@foreach (var obj in @Model.StoreProducts)
{
    <div>
        <h3>@obj.Name</h3>
        <p>Price: @obj.Price.ToString("# rub")</p>
        <p>Desc: @obj.Description</p>
        <p>Category: @obj.Category</p>
    </div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>